<link rel="stylesheet" href="landing.component.scss">



<nav class="navbar bg-body-tertiary" class="fondonav">
    <div class="container" >
      <a class="navbar-brand" href="#">
        <div class="container">
          <div class="row">
            <div class="col">
              <img src="./assets/lolo-removebg-preview.png" alt="" width="600" height="300" class="barrag">
                <div class="PUMADC">
                  <h3><p>PUMAS D.C</p></h3>
                </div>
            </div>
            <div class="col">
              <img src="./assets/lolo-removebg-preview.png" alt="" width="50" height="50" class="barrap">
            </div>
            <div class="col">
              <a href="https://pumasdc.com.co/wordpress/">
                <img src="./assets/PUMAS D.png" alt="" width="50" height="50" class="logo" >
              </a>
            </div>
          </div>
        </div>
    </a>
    </div>
  </nav>


<br>
<br>
<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="./assets/GAMEDAY.jpg" alt="" class="gameday">
      </div>
      <div class="col-sm-6">
        <div class="cardgame">
            <div class="card" >
                <div class="card-body" >
                    <h5><p class="card-text"> "¡Prepárate para la emoción del fútbol americano! ¿Estás listo para vivir momentos increíbles llenos de adrenalina y acción desenfrenada? ¡Entonces tienes que venir a ver al equipo Pumas D.C. en acción,están listos para demostrar su poderío y cautivar a todos los espectadores.!"</p></h5>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>


<div class="acompañanos">
    <h3><p>     .....!         ACOMPAÑANOS!</p></h3>
</div>


<hr class="border-2 opacity-100">



<div class="container">
    <div class="row">
      <div class="col">
     <!--posible columna-->
      </div>
      <div class="col">
        <img src="./assets/multimedia.png" alt="" class="col-sm4">
      </div>
      <div class="col">
     <!--posible columna-->
      </div>
    </div>
  </div>




<div class="container">
  <div class="row">
    <div class="col-sm-1">
   <!--posible columna-->
    </div>
    <div class="col-sm-10">
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/ooo.jpg" class="d-block w-100" alt="..." width="500px" height="700px" >
          </div>
          <div class="carousel-item">
            <img src="./assets/HUY.jpg" class="d-block w-100" alt="..." width="500px" height="700px">
          </div>
          <div class="carousel-item">
            <img src="./assets/aaa.jpg" class="d-block w-100" alt="..." width="500px" height="700px">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-sm-1">
   <!--posible columna-->
    </div>
  </div>
</div>

<hr class="border-2 opacity-100">



<div class="container">
    <div class="row">
      <div class="col">
     <!--posible columna-->
      </div>
      <div class="col">
        <img src="./assets/nosotros.png" alt="">
      </div>
      <div class="col">
     <!--posible columna-->
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div  class="texto-beneficio">
            <div class="card-body" >
                <h4><p class="card-text">
                  "Somos un equipo que ha dejado huella en el mundo del fútbol americano, y estamos orgullosos de nuestros triunfos. ¡Escucha atentamente, porque te llevaré en un viaje lleno de adrenalina!Desde nuestros inicios, hemos vivido momentos de gloria. Recuerdo como si fuera ayer el día en que nos proclamamos campeones de la liga en el año 2018. Fue una temporada inolvidable, donde cada partido fue una batalla épica. Conquistamos el campo con garra y pasión, demostrando que los Pumas D.C. son un equipo invencible.En cada enfrentamiento, hemos desatado rivalidades intensas. Nuestros encuentros con los Leones Salvajes y los Halcones Dorados han sido batallas legendarias, llenas de emoción y grandes jugadas. Cada choque entre cascos ha hecho temblar el estadio, y nuestros seguidores se han entregado en cuerpo y alma.</h4></div>
            </div>
      </div>
      <div class="col-sm-6">
        <img src="./assets/hola.jpg" width="500" height="500" alt="">
      </div>
    </div>
  </div>

<hr class="border-2 opacity-100">

<div class="container">
    <div class="row">
      <div class="col">
     <!--posible columna-->
      </div>
      <div class="col">
        <img src="./assets/horarios.png" alt="">
      </div>
      <div class="col">
     <!--posible columna-->
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="top: 100px; background-color: grey;" >
            <div class="card-body">
              <h3 class="card-title"> <font  COLOR="white"> Martes: </font></h3>
              <p class="card-text" style="padding: 5%;"> <font  COLOR="white"> Parque recreo deportivo El dalitre (PRD) desde las 8:00pm hastra las 10:00pm </font></p>
              <h3 class="card-title"> <font  COLOR="white"> Sabado </font></h3>
              <p class="card-text" style="padding: 5%;"> <font  COLOR="white"> Parque recreo deportivo El salitre (PRD) desde las 6:00pm hasta las 8:00pm </font> </p>
            </div>
          </div>
      </div>
      <div class="col-sm-6">
        <div  class="texto-beneficio-horario">
            <div class="card-body" >
                <h4><p class="card-text">
                  "Nuestros partidos se llevan a cabo regularmente durante la temporada de fútbol americano. Los horarios varían dependiendo de la programación de la liga y los equipos participantes. Los fines de semana son el momento ideal para disfrutar de un emocionante partido de fútbol americano, ya sea en horarios matutinos, vespertinos o nocturnos. Además, algunos partidos especiales se programan durante días festivos o eventos especiales para que puedas disfrutar de la emoción del juego en fechas destacadas. Antes de cada temporada, se publica un calendario con los horarios de todos los partidos para que puedas planificar tu asistencia con anticipación. Te recomendamos consultar nuestro sitio web o comunicarte con nuestra taquilla para obtener información actualizada sobre los horarios de los próximos partidos. ¡No te pierdas la oportunidad de vivir la emoción del fútbol americano en los horarios que mejor se adapten a tus planes!"
                </h4></div>
            </div>
      </div>
    </div>
  </div>







<hr class="border-2 opacity-100">


<div class="container">
    <div class="row">
      <div class="col">
     <!--posible columna-->
      </div>
      <div class="col">
        <img src="./assets/contactenos.png" alt="">
      </div>
      <div class="col">
     <!--posible columna-->
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-6">
        <h4><p>Porfavor dejenos sus comentarios en este formulario y nosotros nos pondremos en contacato con usted.       !Gracias por su atencion¡ .</p></h4>
      </div>
      <div class="col-sm-3">

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
     <!--posible columna-->
      </div>
      <div class="col" style="background-color: grey;">
      <div class="col-sm-12">
        <br>
        <h4><p>FORMULARIO DE COTACTO</p></h4>
        <form>
          <div class="form-floating">
            <textarea class="form-control"  ></textarea>
            <label for="floatingTextarea">Nombres Completos</label>
          </div>

          <br>

          <div class="form-floating ">
            <input type="email" class="form-control" id="floatingInput" >
            <label for="floatingInput">Email</label>
          </div>

          <br>

          <div class="form-floating">
            <textarea class="form-control"  id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Telefono</label>
          </div>

          <br>

          <div class="form-floating">
            <textarea class="form-control"  id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Inquietud</label>
          </div>
          <br>
        </form>
        <br>

        <div class="container">
          <div class="row">
            <div class="col">
           <!--posible columna-->
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary" style="background-color: rgb(143, 124, 20);"> <h4><font > ENVIAR </font></h4></button>
            </div>
            <div class="col">
           <!--posible columna-->
            </div>
          </div>
        </div>

        <br>

      </div>
    </div>
      <div class="col-sm-3">
     <!--posible columna-->
      </div>
    </div>
  </div>

<hr class="border-2 opacity-100">

  <div class="container">
    <div class="row">
      <div class="col">
        <img src="./assets/fecofa.png" width="200" height="200" alt="">
      </div>
      <div class="col">
        <img src="./assets/colombiaamericano.png" width="200" height="200" alt="">
      </div>
      <div class="col">
        <img src="./assets/alcaldiamayor.jpg" width="200" height="200" alt="">
      </div>
    </div>
  </div>

<footer class="navbar bg-body-tertiary" class="fondofooter">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <a href="https://www.instagram.com/pumasdc/?hl=es">
        <img src="./assets/logoinsta.png" alt="" width="50" height="50" >
      </a>
      <a href="https://www.facebook.com/FootballAmericanoPumasDC/?locale=es_LA">
        <img src="./assets/logoface.png" alt="" width="50" height="50" >
      </a>
      <a href="https://twitter.com/pumasdc?lang=es">
        <img src="./assets/logotwi.png" alt="" width="50" height="50" >
      </a>
      <div style="text-align: right;">
        <h5><p><font COLOR="white"> PUMAS D.C  Pg</font></p></h5>
      </div>
    </a>
  </div>
</footer>
